{% extends 'main.html' %}
{% load static %}
{% block content%}
<style>
    html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  animation: slide_upForm 1s forwards;
  opacity: 0;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@keyframes slide_upForm {
    from{
        transform: translateY(-200px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;

    }
    
}
</style>


<div class="container-fluid p-5 h-100" style="background-image: url('https://images.unsplash.com/photo-1598302936625-6075fbd98dd7?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover;">
    <main class="form-signin w-100 m-auto h-75 rounded-4 p-4 shadow-lg mt-5 bg-white" >
  <form class="">
    <img class="mb-4 image-fluid w-75 h-75" src="{% static 'images/logo.png'%}" alt="" width="72" height="57">
    <div class="form-floating mt-5">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-check text-start my-4">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
      <label class="form-check-label" for="flexCheckDefault">Remember me
      </label>
    </div>
    <button class="btn btn-primary  btn-sm w-100 py-2 mt-1" type="submit">Sign in</button>
  </form>
</main>
</div>
{%endblock%}